#file
.htpasswd
.htaccess
.DS_Store
*.sublime-project
*.sublime-workspace
*.map
*.min.css
*.min.js
*.log
sprite_*.png
compass_app_log.txt
sitemap.xml
sitemap.xml.gz
password.txt
sftp-config.json
config.codekit

#wp
wp-config.php
wp-content/uploads/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercacghe/*

#dir
node_modules/
components/
.sass-cache/
deploy/
vendor/
docs/

