/* line 5, ../sass/partials/util/_mixin.sass */
.mcfix:before, .m-share:before, #header:before, .mcfix:after, .m-share:after, #header:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/partials/util/_mixin.sass */
.mcfix:after, .m-share:after, #header:after {
  clear: both;
}

/* line 127, ../sass/partials/util/_mixin.sass */
.is-visible, .js-pjax_container {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 131, ../sass/partials/util/_mixin.sass */
.is-hidden, .is-loading .js-pjax_container {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 61, ../sass/partials/util/_respond.sass */
#guide {
  diplay: none;
  background: url(../images/respond_guide.png) left top no-repeat;
  min-height: 33px;
  width: 100%;
  position: fixed;
  bottom: 50px;
  opacity: 0.9;
}

/* line 1, ../sass/partials/util/_class.sass */
.hide {
  display: none !important;
}

/* line 4, ../sass/partials/util/_class.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 17, ../sass/partials/util/_class.sass */
.bgimage {
  background: no-repeat center/cover;
}

@media only screen and (max-width: 40em) {
  /* line 22, ../sass/partials/util/_class.sass */
  .is-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 26, ../sass/partials/util/_class.sass */
  .is-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 31, ../sass/partials/util/_class.sass */
  .is-narrow {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 35, ../sass/partials/util/_class.sass */
  .is-wide {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 39, ../sass/partials/util/_class.sass */
  .is-small-only {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 43, ../sass/partials/util/_class.sass */
  .is-medium-up {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 47, ../sass/partials/util/_class.sass */
  .is-medium-only {
    display: none !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 47, ../sass/partials/util/_class.sass */
  .is-medium-only {
    display: none !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 51, ../sass/partials/util/_class.sass */
  .is-medium-down {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 55, ../sass/partials/util/_class.sass */
  .is-large-only {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 55, ../sass/partials/util/_class.sass */
  .is-large-only {
    display: none !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 55, ../sass/partials/util/_class.sass */
  .is-large-only {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 59, ../sass/partials/util/_class.sass */
  .is-large-up {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 59, ../sass/partials/util/_class.sass */
  .is-large-up {
    display: none !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 63, ../sass/partials/util/_class.sass */
  .is-large-down {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 67, ../sass/partials/util/_class.sass */
  .is-xlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 67, ../sass/partials/util/_class.sass */
  .is-xlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 67, ../sass/partials/util/_class.sass */
  .is-xlarge-up {
    display: none !important;
  }
}
/* line 1, ../sass/partials/util/_sprite.sass */
i.dummy, i.test {
  text-indent: -9999px;
  line-height: 1;
  font-size: 1px;
  overflow: hidden;
  border: none;
  display: inline-block;
  height: 0;
  background-repeat: no-repeat;
}

/* line 47, ../sass/partials/util/_sprite.sass */
i.dummy {
  background-image: url('../images/sprite_base-s87d5f1f301.png');
  background-position: 0 0;
  padding-top: 120px;
  width: 120px;
}

/* line 47, ../sass/partials/util/_sprite.sass */
i.test {
  background-image: url('../images/sprite_base-s87d5f1f301.png');
  background-position: 0 -130px;
  padding-top: 278px;
  width: 449px;
}

/* line 1, ../sass/partials/_base.sass */
body {
  text-align: center;
}

/* line 5, ../sass/partials/_base.sass */
#container {
  text-align: left;
}

/* line 3, ../sass/partials/module/_general.sass */
.m-share > span {
  position: relative;
  display: block;
  float: left;
  line-height: 1em;
  margin-left: 10px;
}
/* line 9, ../sass/partials/module/_general.sass */
.m-share > span:first-child {
  margin-left: 0;
}
/* line 11, ../sass/partials/module/_general.sass */
.m-share .twitter {
  width: 105px;
}

/* line 1, ../sass/partials/module/_pjax.js.sass */
.js-pjax_container {
  display: block;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 1, ../sass/partials/content/_header.sass */
#header {
  background: #333;
}
